/* max 575px */
@media (max-width: 575px) {
    button.featuredExploreBtn {
        width: 100%;
        padding: 0.75rem;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .mdColHeight {
        min-height: 430px;
    }
}

/* max 767px */
@media (max-width: 767px) {
    .marketCatHeadings {
        font-size: 1.5rem;
    }
}

/* 1769px */
@media (min-width: 1769px) {
    .col-xl-3.xlColDropWidth {
        width: 279.5px !important;
        flex: 0 0 16.66%;
    }
}