.dropdown-container1 {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    
  }
  .dropdown-container2 {
    display: block;
    background-color: white;
    padding-left: 8px;
    width: 100%;
  }
  .dropdown-container3 {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    
  }
  .dropdown-container4 {
    display: block;
    background-color: white;
    padding-left: 8px;
    width: 100%;
  }
  .dropdown-btn{
    background-color: transparent;
    border:none;
    color: white;
    padding: 8px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .ssoRow:hover{
    
    border:2px solid black;
    text-align: center;
  }
  .ssoRowClick{
    border:2px solid black;
  }
  .walletRowClick{
    border:2px solid black;
  }
  .walletRow:hover{
    
    border:2px solid black;
    text-align: center;
    justify-content: center;
  }
  